# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Conda / venv
.env/
.venv/
env/
venv/

# Data
data/raw/
data/curated
*.json

# Ignorar parquet/csv globalmente, MAS manter data/processed/
*.parquet
*.csv
!data/processed/
!data/processed/**

# Jupyter
.ipynb_checkpoints/

# Django
db.sqlite3
staticfiles/
