# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Conda / venv
.env/
.venv/
env/
venv/

# Data
data/raw/
data/processed/
data/curated/
*.parquet
*.csv
*.json

# Jupyter
.ipynb_checkpoints/

# Django
db.sqlite3
staticfiles/
